<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopeRules" Description="StyleCopeRules custom ruleset" ToolsVersion="15.3">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1804" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1208" Action="Error" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1120" Action="Error" />
    <Rule Id="SA1129" Action="Error" />
    <Rule Id="SA1123" Action="Error" />      
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1512" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1401" Action="Error" />   
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1202" Action="Error" />
    <Rule Id="SA1204" Action="Error" />
    <Rule Id="SA1309" Action="Error" />
    <Rule Id="CS0169" Action="Error" />
    <Rule Id="SA1501" Action="Warning" />
    <Rule Id="SA1503" Action="Warning" />
    <Rule Id="SA1504" Action="Warning" />
    <Rule Id="SA1505" Action="Warning" />
    <Rule Id="SA1506" Action="Warning" />
    <Rule Id="SA1509" Action="Warning" />
    <Rule Id="SA1510" Action="Warning" />
    <Rule Id="SA1511" Action="Warning" />
    <Rule Id="SA1400" Action="Warning" />
    <Rule Id="SA1404" Action="Warning" />
    <Rule Id="SA1405" Action="Warning" />
    <Rule Id="SA1406" Action="Warning" />
    <Rule Id="SA1402" Action="Warning" />
    <Rule Id="SA1403" Action="Warning" />
    <Rule Id="SA1003" Action="Warning" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA0001" Action="None" />
  </Rules>
</RuleSet>